body{ 
    background-color: #121212;
    font-family: sans-serif;
}

h1 { 
    text-align: center;
    color: white;
}

.titulo { 
    color: #627d98;
    text-align: center;
}

.description ul { 
    text-align: center;
    list-style-type: none;
}

.links { 
    text-decoration: none;
    color: #c62828;
}

.links:hover { 
    background-color: cornflowerblue;
    color: cornsilk;
}

.list-container { 
    color: #0e34a0;
    list-style-type: square;
}

.photo { 
    border-radius: 100%;
    width: 500px;
    background-color: white;
    border: white solid 1px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.description { 
    display: inline-block;
}

.code { 
    background-color: white;
    color: tomato;
    margin-bottom: 100px;
}

.photo-container { 
    height: 500px;
    text-align: center;
    vertical-align: middle;
}