body{ 
    background-color: #121212;
    font-family: sans-serif;
}

h1 { 
    text-align: center;
    color: white;
}

hr{ 
    border-color: #262d34;
}

.texto, h3 { 
    color: #627d98;
    text-align: center
}

.links { 
    text-decoration: none;
    color: #c62828;
}

.list { 
    color: #0e34a0;
    text-align: center;
    list-style-type: square;
}

.photo { 
    /* As 3 linhas de código abaixo foram tiradas do site: https://www.w3.org/Style/Examples/007/center.pt_BR.html 
    com o intuito de centralizar a imagem inserida*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.intro { 
    line-height: 0px;
}

.code { 
    background-color: white;
    color: tomato;
}

div.listas { 
    width: 30%;
    margin: auto;
    display:inline-block;
    vertical-align: middle;
    padding: 30px 70px;
}

.content { 
    width: 80%;
    margin: auto;
}