#color-palette, h1, .line, main {
    text-align: center;
}
.color {
    border: solid black 1px;
    display: inline-block;
    padding: 20px;
}
#green {
    background-color: green;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#black {
    background-color: black;
}

.pixel {
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: solid black 1px;
}

#clear-board {
    margin-top: 30px;
    margin-bottom:15px;
}

.line {
    height: 41px;
}

#pixel-board {
    font-size: 0px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}