body {
    background-color: rgb(253, 251, 251);
    margin: 0px;
    font-family: sans-serif;
}

#cabecalho {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: #141827;
    max-width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

#titulo {
    margin-block-end: 0.2em;
    color: #fffae3;
}

#cabecalho li {
    display: inline;
    padding-left: 0px;
    list-style-position: inside;
    color: #c1d9d0;
}

footer a, #cabecalho li a {
    color: #c1d9d0;
    text-decoration: none;
}

footer a:hover, #cabecalho li a:hover {
    background-color: #62455b;
    color: #fffae3;
}

#cabecalho ul {
    padding: 0px;
    margin-block-start: 0.2em;
}

#minha_foto {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 15px;
}

main {
    margin-top: 100px;
    background-color: #c1d9d0;
    border: 1px solid black;
    color: #141827;
}

#content {
    display: flex;
    max-height: 330px;
}

#content p {
    line-height: 20px;
}

article h2 {
    text-align: center;
}

article {
    padding: 0px 50px;
}

#lessons {
    display: flex;
    border-top: 1px solid black;
}

#orderly {
    margin: 0px 5% 0px auto;
    padding: 0px;
}

#unorderly {
    margin: 0px auto 0px 5%;
    padding: 0px;
}

aside {
    width: 200px;
    height: 220px;
    float: right;
    padding: 55px 20px 55px 21px;
    border-left: 1px solid black;
    background-color: #62455b;
    color: #fffae3;
}

footer {
    background-color: #141827;
    color: #fffae3;
}

footer table { 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer tr {
    font-size: 1.5em;
}